%table.table.table-striped
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.photo
        %td= link_to post.pet_name, post
        %td= post.info
        %td= post.fdate
        %td= post.fplace
        %td= post.contacts
