.field
  = label_tag :pet_name
  = @post.pet_name
.field
  = label_tag :info
  = @post.info
.field
  = label_tag :fplace
  = @post.fplace
.field
  = label_tag :fdate
  = @post.fdate
.field
  = label_tag :contacts
  = @post.contacts
.field
  = label_tag :photo
  = @post.photo
